@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

@font-face {
  font-family: 'Courgette', cursive;
  src: url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pikmin {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.dark{
  background-color: #000000;
}


